#root .repo-overview--search-bar-container {
    margin-top: 66px;
}

#root .repo-overview--search-bar-flex {
    padding-top: 10px;
    padding-right: 10px;
    justify-content: end;
}

#root .repo-overview--search-bar-input {
    width: 375px;
}

#root .repo-overview__container {
    padding: 20px;
}

#root .repo-overview__container .chakra-input {
    margin-bottom: 10px;
}

#root .repo-overview__container .repo-overview__topic-section {
    margin-bottom: 40px;
}

#root .repo-overview__container .repo-overview__topic-section-header {
    margin-bottom: 20px;
}

#root .repo-overview__container .chakra-card {
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -2px 3px rgba(0, 0, 0, 0.08);
}
