#root .newspage__container {
    padding: 10px;
}

#root .newspage__container .chakra-card {
    margin-bottom: 15px;
}

#root .newspage__container .repo-overview__topic-section-header {
    margin-bottom: 10px;
}